a:link{
  color: #000000;
}
a.elemento:hover{
  background-color: #FF7EA7;
  text-decoration: none;
  padding: 12px;
}

a.unaopcion{
  color: #000000;
}

.unaopcion{
  background: #fffff0 ;
  align-items: center;
  text-align: center;
  margin: 2%;
  padding: 3%;
}

nav>ul>li>a:hover{
  background-color: #FF7EA7;
  text-decoration: none;
  padding: 5px;
}

nav>ul>li{
  margin: 3%;
}

a:visited{
  color: #ffffff;
}

.navcolor{
  background-color: #FF6193;
  display: flex;
  }

.navegador{
  background-color: #FF6193;
  display: flex;
  min-height:50px;
  padding-top:1%;
}
