body{
  background-color: #ffffe6;
}

a:link{
  color: #000000;
}
a.elemento:hover{
  background-color: #FF7EA7;
  text-decoration: none;
  padding: 10px;
}

.elemento{
  padding:3px;
}

a.unaopcion{
  color: #000000;
}

.unaopcion{
  background: #ffffff ;
  align-items: center;
  text-align: center;
  margin: 2%;
  padding: 3%;
}

header{
  background-color: #ffffff;
}

nav>ul>li>a:hover{
  background-color: #FF7EA7;
  text-decoration: none;
}

a:visited{
  color: #ffffff;
}

.navcolor{
  background-color: #FF6193;
  display: flex;
  }

.navegador{
  background-color: #FF6193;
  min-height:70px;
  max-height:250px;
  margin-left: -10px;
}

.boton{
  padding: 1%;
}

.busqueda{
  background: #D9E6FB;
  min-height: 100px;
  padding: 6%;
  margin-top: 4%;
  max-width: 100%;
}

.colbusqueda{
  background-color: #DAFCFB;
  min-height: 300px;
  padding: 5%;
  margin:0;
  max-width: 90%;
}

article{
  margin-top: 2%;
}

div .articulos{
  padding: 2%;
}

.opciones{
min-height: 200px;
margin-top:7%;
}

img[class*="articulo1"]{
    width: 210px;
    padding-left: 30px;
}

img[class*="articulo2"]{
    width: 210px;
    padding-right: 30px;
}

.logo{
  width:17rem;
  float:left;
}

.contenido{
  background-color: #DAFCFB;
  min-height: 300px;
  margin-top: 1%;
  padding-right: 1px;
  margin-left: -6px;
  margin-right: 0.5%;
}
.comentarios{
  padding: 2%;
}

.icono-grande{
  width: 50px;
}

.icono-medio{
  width: 20px;
}

li>a:hover, .navbar-default .navbar-nav>li>a:focus{
  background: #ffffff;
  margin: 2%;
  padding: 2%;
}

.navbar-nav>li>a:link, .navbar-default{
  color: #000000;
}

.espacio{
  min-height: 10px;
}

article h3{
  padding-bottom: 20px;
}
